<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sunday.app.bairead">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- tecent bugly need -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- alibaichuan fankui need -->
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-sdk android:minSdkVersion="21" />

    <application

        android:name=".base.BaiReadApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".bookcase.BookcaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="sunday.app.bairead.setting"
            android:name=".data.local.BookContentProvider"/>

        <activity android:name=".bookRead.BookReadActivity"
            android:theme="@style/BaseAppTheme">
        </activity>

        <activity android:name=".bookSearch.BookSearchActivity"
            android:theme="@style/BaseAppTheme"
            />

        <activity android:name=".bookDetail.BookDetailActivity"
            />

        <activity android:name=".base.DisclaimerActivity"
            />

    </application>

</manifest>